option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "eventry.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "eventry/wsgi.py"
    StaticFiles: "/static/=www/static/"
container_commands:
  00_install_packages:
    command: "sudo apt-get install binutils libproj-dev gdal-bin"
    leader_only: false
  01_migrate:
    command: "python manage.py migrate"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_createsu:
    command: "python manage.py createsu"
    leader_only: true
